/captures
.cxx
/.idea/
.gitignore
app/libs/
app/sampledata/
.gradle
/local.properties
/.idea
app/.idea
.DS_Store
/build
*.iml
app/build
*.apk
captures/
.externalNativeBuild
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
app/src/main/gen/
