*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
/etc/clubpampers.release.encrypted.jks
/etc/clubpampers.release.encrypted.jks.out
/etc/dodotvip.release.encrypted.jks